html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #111;
  max-width: 550px;
  margin: 0 auto;
}

.todoapp {
  background: #fff;
  margin: 40px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 25px 50px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  text-align: center;
  padding-bottom: 20px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #d24c53;
}

.new-todo {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.todo-list li label {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.task-text {
  transition: text-decoration 0.3s ease, opacity 0.3s ease; 
}

.checkbox:checked + .task-text {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: #cc9a9a;
  transition: color 0.3s ease;

  &:hover {
    color: #af5b5e;
  }
}

.footer {
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #e6e6e6;
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed {
  float: right;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.info {
  margin: 20px auto 0;
  color: #4d4d4d;
  font-size: 11px;
  text-align: center;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}
