html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #111;
  max-width: 550px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 10vh; 
}

.todoapp {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 25px 50px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5%;
}

.new-todo {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  border: none; 
  border-bottom: 1px solid #999; 
  box-sizing: border-box;
}

.todo-list {
  list-style: none;
  padding: 0;
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.todo-list li {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px 0;
  transform: translateY(-100%); 
  opacity: 0; 
  animation: slideInFromAbove 0.5s ease forwards; 
  transition: font-size 0.3s ease; 
}

.todo-list li:hover {
  font-size: 130%;
}

.todo-list li label {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.task-text {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000; 
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
}

.checkbox:checked + .task-text::before {
  transform: scaleX(1); 
}
.checkbox:checked + .task-text {
  text-decoration: line-through;
  opacity: 0.2;
}


.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: #cc9a9a;
  transition: color 0.3s ease;

  &:hover {
    color: #af5b5e;
  }
}

.footer {
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #e6e6e6;
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed {
  float: right;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.info {
  margin: 20px auto 0;
  color: #4d4d4d;
  font-size: 11px;
  text-align: center;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}
